* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cont {
  width: 1080px;
  margin: auto;
}

.nav1 {
  background-color: #174a63;
  height: 60px;
}

.overflow:after {
  content: "";
  display: table;
  clear: both;
}

.nav2 {
  background-color: #f5f8fa;
  height: 70px;
  position: sticky;
  top: 0;
}

.nav3 {
  background-color: white;
  height: 70px;
}


.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-items {
  line-height: 60px;
  float: left;
}

.clrw {
  font-family: 'Gothic A1', sans-serif;
  color: white;
}

.logo-mini {
  height: 60px;
  float: left;
}

.logo-mini > img {
  height: 30px;
  margin-left: 30px;
  margin-top: 14px;
}

.nav1 > .nav-right {
  height: 60px;
  width: 20%;
  line-height: 60px;
}

.prop {
  height: 70px;
  line-height: 70px;
  font-family: 'Gothic A1', sans-serif;
  color: #33475b;
  font-size: 12px;
  font-weight: bolder;
}

.bord {
  border-right: 2px solid #cbd6e2;
  padding-right: 10px;
}

.nav-left > a {
  font-family: 'Gothic A1', sans-serif;
  color: white;
  background-color: #ff7a59;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}

.nav-left > a:hover {
  cursor: pointer;
  background-color: #ff8f73;
}

.pdr {
  padding-right: 20px;
}

.pdl {
  padding-left: 20px;
}

#nav-link {
  font-size: 15px;
}

.nav-left > img {
  margin-top: 16px;
}

.row1 {
  background-color: #00a4bd;
}

.banner {
  max-width: 430px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.banner > h1 {
  font-size: 3.4375rem;
  line-height: 1.1818;
  font-weight: 700;
  color: white;
  font-family: 'Gothic A1', sans-serif;
}

.banner > p {
  font-family: 'Gothic A1', sans-serif;
  line-height: 1.6;
  color: white;
  padding-top: 20px;
}

.banner2 {
  height: 132px;
  margin-top: 20px;
}

.banner2 > a {
  color: #33475b;
  background-color: white;
  padding: 28px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Gothic A1', sans-serif;
}

.banner2 > a:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.9);
}

.banner2 > p {
  font-family: 'Gothic A1', sans-serif;
  color: white;
  margin-top: 20px;
  font-size: 10px;
  line-height: 1.6;
}
